{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table width="100%"  cellspacing="0">
        <tr bgcolor="#3b5998">
            <td width="70%"><img src="{% static 'images/fb.jpg' %}" alt="" width="220"> </td>
        
            <td  align="left"><input type="text" name="" id=""><input type="text" name="" id="">
            
            <input type="button" value="LOGIN"></td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <h2>Connect with friends and the world around you on Facebook</h2>
                        </td>
                    </tr>
                <tr>
                    <td><br>
                        <img src="{% static 'images/news.png' %}" alt="" width="50"> &nbsp;&nbsp;See photos and updates from friends in News Feed.<br><br>
                        <img src="{% static 'images/timeline.jpg' %}" alt="" width="50">&nbsp;&nbsp;What's new in your life on your Timeline<br><br>
                        <img src="{% static 'images/graph.jfif' %}" alt="" width="50"> &nbsp;&nbsp;Find more of what you're looking for with graphic search.<br>
                
                </td>
                </tr>    
                </table>
            </td>
            <td  valign="top" align="center">
                <h1>Sign Up</h1>
                <table border="0" cellspacing="10">
                    <tr>
                        <td><input type="text" name="" id="" placeholder="First Name" size="50" style="height: 30px;">
                    
                        <td align="left"><input type="text" name="" id="" placeholder="Last Name" size="30" style="height: 30px;"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="" id="" placeholder="Mobile Number" size="60" style="height: 30px;"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="" id="" placeholder="Email" size="60" style="height: 30px;"></td>
                    </tr>
                    <tr>
                        <td><input type="text" name="" id="" placeholder="Password" size="60" style="height: 30px;"></td>
                    </tr>
                    <tr>
                        <td>
                            By clicking Sign Up,you agree to our terms that you have read our data use policy,including our cookie use
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="{% static 'images/signup.jpg' %}" alt="" width="120">
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</body>
</html>